body{background:#ecf3ec;}
#compatibility-tester {max-width:580px;margin:80px auto;font-family:Helvetica, Arial, Sans-serif;color:#222;}
#compatibility-tester h1 {text-align:center;font-size:48px;color:#7c1;line-height:0.9}
#compatibility-tester form{margin:50px auto 50px;width:185px;}
#compatibility-tester .passed{background: rgba(0, 128, 0, 0.3)}
#compatibility-tester .failed{background: rgba(255, 0, 0, 0.3)}
#compatibility-tester .results{text-align: left}
#compatibility-tester h2{font-size:20px;margin-top:30px;margin-bottom:10px;text-transform: uppercase;font-weight: normal}
#compatibility-tester ol{margin:0;padding:0;list-style-position: inside; }
#compatibility-tester li{margin-bottom:10px;padding:5px;}
#compatibility-tester li:nth-child(odd){background:rgba(0,0,0,.02);}
#compatibility-tester code{color:#161683;}
#compatibility-tester .phpVersion{white-space:nowrap;}

@media (max-width: 550px) {
#compatibility-tester h1 {font-size:36px}
}